@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
html, body, #root { height: 100%; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }


/* utilities used in components */
.modal-backdrop { background: rgba(2,6,23,0.6); }



